.leftPanel{
    background-color:"#556EE6";
    background-size: 'cover';
    text-align:'center';
    background-position: 'center';
}
.color-red{
  color:"red";
}

.leftPanelContent{
    color:'white';
}

ql-picker.ql-placeholder {
    width: 150px;
  }
  
  .ql-picker.ql-placeholder > span.ql-picker-label::before {
    content: 'Placeholders';
  }
  
  .ql-picker.ql-placeholder
    > span.ql-picker-options
    > span.ql-picker-item::before {
    content: attr(data-label);
  }

#blue{
    color:'blue';
}
  